.contacto_main {
  display: grid;
  grid-template: minmax(150px, 1fr);

  background-color: var(--backery-orange);
  width: 100vw;
  height: 50vh;
  justify-content: center;
  padding: 3rem;
}
.contacto_form_main {
  display: grid;
  max-height: 30vh;
  width: 44vw;
  grid-template: minmax(150px, 1fr);
  padding-bottom: 1.5rem;
  gap: 0.5rem;
}
textarea {
  height: 3rem;
}
#contacto input,
textarea {
  padding: 0.3rem;
  border-radius: 0.2rem;
  border: 4px var(--backery-green) double;
}
#contacto button {
  border: 4px var(--backery-green) double;
  border-radius: 0.2rem;
}
