/* .branche{
height: 100vh;
} */
.branche_body {
  display: flex;
 
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem;
  border-radius: 3px;
  border: rgb(228, 102, 29) solid 3px;
  padding-top: 10px;
  height: 20vh;
}
.branche_main {
  display: flex;
  flex-direction: row;
  width: 40vw;
  align-content: center;
}

.branche_map_img {
  height: 4rem;
  width: 8rem;
  border-radius: 0.4rem;
  text-decoration: none;

  display: flex;
  text-decoration: none;

  border-color: rgb(26, 16, 2) 3px solid;

  justify-content: flex-end;
}

.branche_link {
  display: flex;
  text-decoration: none;
  border-radius: 50%;
  border-color: rgb(228, 102, 29) 5px solid;
  flex-direction: column;
  align-items: center;
}
