.productCard_img  {
    width:5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
   
    /* margin: auto; */
}

.productCard_body{
    width: 80vw;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(100px, 1fr));
}
.productCard_img_body{
    
        display: flex;
        flex-direction: column;
        /* justify-items: center; */
        /* margin: 1rem auto;
        margin:3rem; */
        /* flex-wrap: wrap; */
      
        justify-content: center;
        align-items: center;
  
}