.productCard_img  {
    width:5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;

}

.productCard_body{
    width: 80vw;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(100px, 1fr));
}
.productCard_img_body{
    
        display: flex;
        flex-direction: column;
      
        justify-content: center;
        align-items: center;
  
}