.Nav_main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  width: 100vw;

  background-color: rgb(184, 100, 69);
}

.Nav_main :link{
    text-decoration: none;
}